$list:();
$spriteSrc:'#{$imgUrl}sprite.png';
    $sprite_btn01 : 0px 231px 0px -231px 291px 112px 823px 682px $spriteSrc sprite_btn01;
    $list:append($list,$sprite_btn01);
    $sprite_btn02 : 0px 603px 0px -603px 205px 79px 823px 682px $spriteSrc sprite_btn02;
    $list:append($list,$sprite_btn02);
    $sprite_btn03 : 398px 0px -398px 0px 291px 112px 823px 682px $spriteSrc sprite_btn03;
    $list:append($list,$sprite_btn03);
    $sprite_btn04 : 257px 363px -257px -363px 240px 93px 823px 682px $spriteSrc sprite_btn04;
    $list:append($list,$sprite_btn04);
    $sprite_btn05 : 0px 0px 0px 0px 378px 96px 823px 682px $spriteSrc sprite_btn05;
    $list:append($list,$sprite_btn05);
    $sprite_btn06 : 0px 116px 0px -116px 378px 95px 823px 682px $spriteSrc sprite_btn06;
    $list:append($list,$sprite_btn06);
    $sprite_btn07 : 0px 490px 0px -490px 240px 93px 823px 682px $spriteSrc sprite_btn07;
    $list:append($list,$sprite_btn07);
    $sprite_ele01 : 311px 231px -311px -231px 3px 59px 823px 682px $spriteSrc sprite_ele01;
    $list:append($list,$sprite_ele01);
    $sprite_ele02 : 398px 132px -398px -132px 147px 208px 823px 682px $spriteSrc sprite_ele02;
    $list:append($list,$sprite_ele02);
    $sprite_ele03 : 517px 363px -517px -363px 153px 47px 823px 682px $spriteSrc sprite_ele03;
    $list:append($list,$sprite_ele03);
    $sprite_ele04 : 225px 603px -225px -603px 201px 47px 823px 682px $spriteSrc sprite_ele04;
    $list:append($list,$sprite_ele04);
    $sprite_ele05 : 260px 490px -260px -490px 271px 77px 823px 682px $spriteSrc sprite_ele05;
    $list:append($list,$sprite_ele05);
    $sprite_ele06 : 0px 363px 0px -363px 237px 107px 823px 682px $spriteSrc sprite_ele06;
    $list:append($list,$sprite_ele06);
    $sprite_food01 : 709px 132px -709px -132px 114px 112px 823px 682px $spriteSrc sprite_food01;
    $list:append($list,$sprite_food01);
    $sprite_food02 : 709px 264px -709px -264px 114px 112px 823px 682px $spriteSrc sprite_food02;
    $list:append($list,$sprite_food02);
    $sprite_food03 : 709px 396px -709px -396px 114px 112px 823px 682px $spriteSrc sprite_food03;
    $list:append($list,$sprite_food03);
    $sprite_food04 : 709px 0px -709px 0px 114px 112px 823px 682px $spriteSrc sprite_food04;
    $list:append($list,$sprite_food04);
    $sprite_food05 : 709px 528px -709px -528px 114px 112px 823px 682px $spriteSrc sprite_food05;
    $list:append($list,$sprite_food05);
    $sprite_food06 : 565px 132px -565px -132px 114px 112px 823px 682px $spriteSrc sprite_food06;
    $list:append($list,$sprite_food06);
    $sprite_icon01 : 565px 264px -565px -264px 33px 32px 823px 682px $spriteSrc sprite_icon01;
    $list:append($list,$sprite_icon01);
    $sprite_icon02 : 618px 264px -618px -264px 39px 23px 823px 682px $spriteSrc sprite_icon02;
    $list:append($list,$sprite_icon02);
